<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
</head>
<body>
    <div>
        <label>Current position: {{current_position}}</label>
        <br>
        <label>Target position: {{target_position}}</label>
        <br>
        <label>Trajectory points: {{trajectory_points}}</label>
        <br>
        <label>Trajectory times: {{trajectory_times}}</label>
        <br>
    </div>
    <div class="content">
        <form method="post">
            <label for="mean_speed">Mean speed</label>
            <br>
            <input type="text" name="mean_speed"
                   placeholder={{default_mean_speed}}
                   value="{{ request.form['mean_speed'] }}"></input>
            <br>

            <label for="points">Points</label>
            <br>
            <input type="text" name="points"
                   placeholder={{default_points}}
                   value="{{ request.form['points'] }}"></input>
            <br>

            <label for="target_position">Target position</label>
            <br>
            <input type="text" name="new_target_position"
                   placeholder=""
                   value="{{ request.form['new_target_position'] }}"></input>
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
    <img src="/plot.png" alt="my plot">

</body>
</html>